/* STANDARD RESET */
*, html{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: inherit;
	text-align: left;
	font-size: 16px;
	vertical-align: baseline;
	font-family: Helvetica, 'Segoe UI', Verdana, Arial, Sans-Serif;
}

input,select{
	color: black;
	margin-left: 2px;
	margin-right: 8px;
}

input{
	padding-left: 4px;
}

/*
     NAVBAR #FFFFFF
 CONTENT_BG #505050
 BACKGROUND #BBBBBB
     HEADER #D00000
*/

h1{
	font-size: 24px;
	margin-bottom: 8px;
	margin-top: 16px;
	font-weight: bold;
	/*border-bottom: thin solid #FFFFFF;*/
}

h2{
	font-size: 18px;
	margin-bottom: 9px;
	margin-top: 12px;
	font-weight: bold;
}

h3{
	font-size: inherit;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 4px;
}

td{
	padding:0 15px 0 0;
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #D00000; /* HEADER */
	color: #FFFFFF; /* NAVBAR */
}

a:active {
	text-decoration: underline;
}

body{
	background-color: #BBBBBB; /* BACKGROUND */
	text-align: center;
	font-size: 10px;
	padding-bottom: 10px;
}

p{
	padding: 16px;
}

li{
	list-style: none;
	font-size: 10px;
}

.ui-autocomplete {
	background: #FFFFFF;
	border-radius: 0px;
	width: 100px;
}
.ui-menu .ui-menu-item a {
	color: #96f226;
	border-radius: 0px;
}
.ui-menu-item:hover {
	background: #FFDDDD;
	color: #000000;
}

#species_search:hover {
	background: #FFDDDD;
}

.calc_button{
	padding: 2px 6px 2px 6px;
}

.headerbg{
	background-color: #D00000; /* HEADER */
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	width: 100%;
	text-align: left;
}

.header{
	color: #FFFFFF; /* NAVBAR */
	padding: 2px;
	margin: 0 auto;
	margin-bottom: 0;
	width: 1000px;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
}

.navbar{
	background-color: #FFFFFF; /* NAVBAR */
	width: 1000px;
	margin: 0 auto;
	height: 48px;
	padding: 0 32px;
}

.navitem{
	text-decoration: none;
	margin: 0;
	padding: 10px 16px 10px 16px;
	font-size: 18px;
	color: #505050; /* CONTENT_BG */
	float: left;
}

.navitem:link{
	text-decoration: none;
}

.navitem:hover{
	text-decoration: none;
}

.github{
	width: 32px;
	height: 32px;
	font-size: 48px;
	vertical-align: center;
	padding: 5px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 2px;
}

.github:hover{
	background-color: #AAAAAA;
}

.main{
	background-color: #505050; /* CONTENT_BG */
	color:            #FFFFFF; /* NAVBAR */
	padding: 32px;
	padding-top: 1px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 32px;
	width: 998px;
	min-height: 720px;
	font-size: 16px;
	text-align: left;
	line-height: 200%;
}
