<div class="navbar">
<b>
    <a href="#" onclick="navigate('misc'); return false;" class="navitem">
        Gens:
    </a>
    <a href="#" onclick="navigate('gen1'); return false;" class="navitem">
        I
    </a>
    <a href="#" onclick="navigate('gen2'); return false;" class="navitem">
        II
    </a>
    <a href="#" onclick="navigate('gen3'); return false;" class="navitem">
        III
    </a>
    <a href="#" onclick="navigate('gen4'); return false;" class="navitem">
        IV
    </a>
    <a href="#" onclick="navigate('gen5'); return false;" class="navitem">
        V
    </a>
    <a href="#" onclick="navigate('gen6'); return false;" class="navitem">
        VI
    </a>
    <a href="#" onclick="navigate('gen7'); return false;" class="navitem">
        VII
    </a>
</b>
</div>
