* {
  font-family: sans-serif;
}

.nav_bar {
  grid-row: 1;
  grid-column: 1 / 4;
  height: 3em;
  margin-bottom: 2em;
}

.base_HP {
  grid-area: bhp;
}

.base_ATK {
  grid-area: batk;
}

.base_DEF {
  grid-area: bdef;
}

.base_SPA {
  grid-area: bspa;
}

.base_SPD {
  grid-area: bspd;
}

.base_SPE {
  grid-area: bspe;
}

.enc_HP {
  grid-area: ehp;
}

.enc_ATK {
  grid-area: eatk;
}

.enc_DEF {
  grid-area: edef;
}

.enc_SPA {
  grid-area: espa;
}

.enc_SPD {
  grid-area: espd;
}

.enc_SPE {
  grid-area: espe;
}

.ev_HP {
  grid-area: evhp;
}

.ev_ATK {
  grid-area: evatk;
}

.ev_DEF {
  grid-area: evdef;
}

.ev_SPA {
  grid-area: evspa;
}

.ev_SPD {
  grid-area: evspd;
}

.ev_SPE {
  grid-area: evspe;
}

.iv_HP {
  grid-area: ivhp;
}

.iv_ATK {
  grid-area: ivatk;
}

.iv_DEF {
  grid-area: ivdef;
}

.iv_SPA {
  grid-area: ivspa;
}

.iv_SPD {
  grid-area: ivspd;
}

.iv_SPE {
  grid-area: ivspe;
}

.level {
  grid-area: level;
}

.encounter {
  grid-area: enc;
}

.ev {
  grid-area: ev;
}

.iv {
  grid-area: iv;
}

.calc_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-template:
    "spec    spec    level"
    "bhp     batk    bdef"
    "bspa    bspd    bspe"
    "enc     enc     enc"
    "ehp     eatk    edef"
    "espa    espd    espe"
    "ev      ev      ev"
    "evhp    evatk   evdef"
    "evspa   evspd   evspe"
    "iv      iv      iv"
    "ivhp    ivatk   ivdef"
    "ivspa   ivspd   ivspe";
  margin: 0 auto;
  padding: 0 1em;
  max-width: 32em;
}

@media screen and (min-width: 42em) {
  .calc_grid {
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 1em;
    grid-template:
      "spec  spec spec  spec  spec  spec  spec"
      "level bhp  batk  bdef  bspa  bspd  bspe"
      "enc   ehp  eatk  edef  espa  espd  espe"
      "ev    evhp evatk evdef evspa evspd evspe"
      "iv    ivhp ivatk ivdef ivspa ivspd ivspe";
    max-width: 58em;
  }
}
