/* STANDARD RESET */
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: inherit;
	/*background: transparent;
	background-color: inherit;*/
	text-align: left;
	font-size: inherit;
	vertical-align: baseline;
	font-family: 'Segoe UI',Helvetica, Verdana, Arial, Sans-Serif;
}

input,select{
	color: black;
	margin-left: 2px;
	margin-right: 8px;
}

input{
	padding-left: 4px;
}

.home{
	line-height: 200%;
}

/*
 MAINDARK #000000
 MAINLIGHT #FFFFFF
 MEDIUM #AAAAAA
 HEADER #FF6060
*/

h1{
    font-size: 24px;
    margin-bottom: 3px;
    font-weight: bold;
    /*border-bottom: thin solid #000000;*/
}

h2{
    font-size: 18px;
    margin-bottom: 9px;
	margin-top: 12px;
    font-weight: bold;
}

h3{
    font-size: inherit;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 4px;
}

td
{
    padding:0 15px 0 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #FF6060; /* HEADER */
	color: #000000; /* MAINDARK */
}

a:active {
    text-decoration: underline;
}

body{
	background-color: #AAAAAA; /* MEDIUM */
	text-align: center;
	font-size: 10px;
	padding-bottom: 10px;
}

p{
	padding: 16px;
}

.headerbg{
	background-color: #FF6060; /* HEADER */
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: left;
}

.header{
	color: #000000; /* MAINDARK */
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 0;
	width: 720px;
	text-align: left;
	font-size: 32px;
    font-weight: bold;
}

.navbar{
	width: 720px;
	margin: 0 auto;
	height: 48px;
	padding: 0 32px;
	background-color: #000000; /* MAINDARK */
}

.navitem{
	margin: 0;
	padding: 10px 16px 10px 16px;
	font-size: 18px;
	color: #FFFFFF; /* MAINLIGHT */
	float: left;
}

.main{
	background-color: #FFFFFF; /* MAINLIGHT */
	color: #000000; /* MAINDARK */
	padding: 32px;
	margin: 0 auto;
	margin-bottom: 100px;
	width: 720px;
	min-height: 720px;
	font-size: 16px;
	text-align: left;
}
